.hero{
    height: 100vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
}
.hero-left{
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    padding-top: 100px;
    line-height: 1.1;
}
.hero-left h2{
    color:#090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}
.hand-icon {
    width: 60px; /* Adjust the size as needed */
  }
  .hero-img{
    width:500px;
  }